<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"right":"15px","left":"15px"},"margin":{"top":"50px","bottom":"50px"}}},"layout":{"type":"constrained"}} -->
<section id="HeroBox" class="wp-block-group" style="margin-top:50px;margin-bottom:50px;padding-right:15px;padding-left:15px"><!-- wp:boldblocks/grid-item-repeater {"boldblocks":{"grid":{"columns":{"lg":{"value":"70% 30%","inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"gap":{"lg":{"value":{"row":"1rem","column":"1rem"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":"lg"}}}}} -->
<div class="wp-block-boldblocks-grid-item-repeater wp-block-boldblocks-custom-parent is-grid"><!-- wp:boldblocks/grid-item {"style":{"spacing":{"blockGap":"30px"}}} -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent" id="LeftSide"><!-- wp:group {"style":{"border":{"width":"2px","color":"#e7f2eb","radius":"10px"},"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"className":"single-post","layout":{"type":"constrained"}} -->
<div class="wp-block-group single-post has-border-color" style="border-color:#e7f2eb;border-width:2px;border-radius:10px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-title {"level":1,"fontSize":"lg-r","fontFamily":"poppins"} /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"8px","bottom":"8px"}}},"backgroundColor":"custom-retingo-lyderiai-filteris-ir-headerio-bgr","className":"is-style-default"} -->
<hr class="wp-block-separator has-text-color has-custom-retingo-lyderiai-filteris-ir-headerio-bgr-color has-alpha-channel-opacity has-custom-retingo-lyderiai-filteris-ir-headerio-bgr-background-color has-background is-style-default" style="margin-top:8px;margin-bottom:8px"/>
<!-- /wp:separator -->

<!-- wp:boldblocks/grid-item-repeater {"boldblocks":{"grid":{"columns":{"lg":{"value":"repeat(2, minmax(0, 1fr))","inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"gap":{"lg":{"value":{"row":"1rem","column":"1rem"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":"lg"}}}},"fontSize":"sm-r","style":{"spacing":{"margin":{"bottom":"30px"}},"color":{"text":"#8896ab"}}} -->
<div class="wp-block-boldblocks-grid-item-repeater wp-block-boldblocks-custom-parent is-grid has-text-color has-sm-r-font-size" style="color:#8896ab;margin-bottom:30px"><!-- wp:boldblocks/grid-item -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent"><!-- wp:post-author-name /--></div>
<!-- /wp:boldblocks/grid-item -->

<!-- wp:boldblocks/grid-item {"boldblocks":{"gridItem":{"columnSpan":{"lg":{"value":{"span":"auto","start":"auto","order":"auto"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"rowSpan":{"lg":{"value":{"span":"auto","start":"auto"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}}},"textAlignment":{"sm":{"inherit":"lg"},"md":{"inherit":"lg"},"lg":{"value":"right","inherit":null}}}} -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent"><!-- wp:post-date {"format":"Y-m-d G:i"} /--></div>
<!-- /wp:boldblocks/grid-item --></div>
<!-- /wp:boldblocks/grid-item-repeater -->

<!-- wp:post-content {"className":"content","fontSize":"bs-r"} /-->

<!-- wp:boldblocks/grid-item-repeater {"boldblocks":{"grid":{"columns":{"lg":{"value":"repeat(2, minmax(0, 1fr))","inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"gap":{"lg":{"value":{"row":"1rem","column":"1rem"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":"lg"}}}},"style":{"spacing":{"margin":{"top":"100px"}}}} -->
<div class="wp-block-boldblocks-grid-item-repeater wp-block-boldblocks-custom-parent is-grid" style="margin-top:100px"><!-- wp:boldblocks/grid-item {"boldblocks":{"gridItem":{"columnSpan":{"lg":{"value":{"span":"auto","start":"auto","order":"auto"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"rowSpan":{"lg":{"value":{"span":"auto","start":"auto"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}}},"justifyAlignment":{"sm":{"inherit":"lg"},"md":{"inherit":"lg"},"lg":{"value":"left","inherit":null}}},"layout":{"type":"default"}} -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent"><!-- wp:post-navigation-link {"type":"previous","label":"Ankstesnė naujiena","linkLabel":true,"arrow":"chevron","style":{"layout":{"selfStretch":"fit","flexSize":null},"elements":{"link":{"color":{"text":"var:preset|color|custom-primary"},":hover":{"color":{"text":"var:preset|color|custom-tekstas-4"}}}}},"textColor":"custom-primary","className":"paginationButton","fontSize":"sm-r"} /--></div>
<!-- /wp:boldblocks/grid-item -->

<!-- wp:boldblocks/grid-item {"boldblocks":{"gridItem":{"columnSpan":{"lg":{"value":{"span":"auto","start":"auto","order":"auto"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"rowSpan":{"lg":{"value":{"span":"auto","start":"auto"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}}},"justifyAlignment":{"sm":{"inherit":"lg"},"md":{"inherit":"lg"},"lg":{"value":"right","inherit":null}}}} -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent"><!-- wp:post-navigation-link {"label":"Vėlesnė naujiena","arrow":"chevron","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary"},":hover":{"color":{"text":"var:preset|color|custom-balta-bgr"}}}}},"textColor":"custom-primary","className":"paginationButton","fontSize":"sm-r"} /--></div>
<!-- /wp:boldblocks/grid-item --></div>
<!-- /wp:boldblocks/grid-item-repeater --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"constrained"}} -->
<section id="NaujienuLoop" class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} -->
<h2 class="wp-block-heading" style="font-style:normal;font-weight:700">Daugiau naujienų</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":11,"query":{"perPage":"2","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default","columnCount":3},"boldblocks":{"grid":{"columns":{"lg":{"value":"repeat(2, minmax(0, 1fr))","inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"gap":{"lg":{"value":{"row":"1rem","column":"1rem"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":"lg"}}},"carousel":{"speed":300,"effect":"slide","effectSettings":[],"loopType":"infinite","autoplay":{"enable":true,"delay":3000},"slidesPerView":1,"spaceBetween":0,"enableResponsive":false,"breakpoints":{"lg":{"value":{"slidesPerView":4,"spaceBetween":0},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":"lg"}},"pagination":{"enable":true,"size":"12px","spacing":"10px","color":"","inactiveColor":"","opacity":0.3,"dynamicBullets":true,"horizontalGap":"5px"},"navigation":{"enable":false,"size":"44px","spacing":"10px","color":""}},"layout":{"type":"responsiveGrid"}}} -->
<!-- wp:group {"tagName":"article","style":{"border":{"radius":"10px","width":"2px"}},"borderColor":"custom-retingo-lyderiai-filteris-ir-headerio-bgr","layout":{"type":"default"}} -->
<article class="wp-block-group has-border-color has-custom-retingo-lyderiai-filteris-ir-headerio-bgr-border-color" style="border-width:2px;border-radius:10px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","style":{"color":{"duotone":"unset"},"border":{"radius":{"topLeft":"10px","topRight":"10px"}}},"className":"box-shadow"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:post-date {"format":"Y-m-d","style":{"typography":{"fontSize":"16px"}},"textColor":"custom-tekstas-2"} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-tekstas-1"},":hover":{"color":{"text":"var:preset|color|custom-primary"}}}},"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"top":"8px"}}},"textColor":"custom-tekstas-1","fontSize":"md-r"} /-->

<!-- wp:read-more {"content":"Skaityti naujieną","style":{"spacing":{"padding":{"top":"8px","right":"16px","bottom":"8px","left":"16px"}},"border":{"radius":"30px"}},"className":"read-more-green","fontSize":"sm-r"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></section>
<!-- /wp:group --></div>
<!-- /wp:boldblocks/grid-item -->

<!-- wp:boldblocks/grid-item -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent" id="RightSide"><!-- wp:block {"ref":499} /--></div>
<!-- /wp:boldblocks/grid-item --></div>
<!-- /wp:boldblocks/grid-item-repeater --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->