<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"right":"15px","left":"15px"}}},"layout":{"type":"constrained"}} -->
<section id="HeroBox" class="wp-block-group" style="padding-right:15px;padding-left:15px"><!-- wp:boldblocks/grid-item-repeater {"boldblocks":{"grid":{"columns":{"lg":{"value":"70% 30%","inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"gap":{"lg":{"value":{"row":"1rem","column":"1rem"},"inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":"lg"}}}}} -->
<div class="wp-block-boldblocks-grid-item-repeater wp-block-boldblocks-custom-parent is-grid"><!-- wp:boldblocks/grid-item -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent" id="LeftSide"><!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"border":{"radius":"10px","width":"2px"}},"borderColor":"custom-retingo-lyderiai-filteris-ir-headerio-bgr","className":"box-shadow","layout":{"type":"constrained"}} -->
<div class="wp-block-group box-shadow has-border-color has-custom-retingo-lyderiai-filteris-ir-headerio-bgr-border-color" style="border-width:2px;border-radius:10px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"xl-r"} -->
<h1 class="wp-block-heading has-xl-r-font-size" style="font-style:normal;font-weight:700">LŠF istatai</h1>
<!-- /wp:heading -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"30px"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:0px;margin-bottom:30px"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"custom-tekstas-2","fontSize":"bs-r"} -->
<p class="has-custom-tekstas-2-color has-text-color has-bs-r-font-size">Atsisiųsti oficialius įstatus galite čia:</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:block {"ref":714} /-->

<!-- wp:paragraph {"textColor":"custom-tekstas-1","fontSize":"bs-r"} -->
<p class="has-custom-tekstas-1-color has-text-color has-bs-r-font-size">Jo įkeltas tekstas su visa info ir t.t.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"custom-tekstas-1","fontSize":"bs-r"} -->
<p class="has-custom-tekstas-1-color has-text-color has-bs-r-font-size">Šachmatai Lietuvoje gyvuoja šimtmečius. Atspindėdamas žmogaus intelekto galimybių kaitą bei plėtrą, šachmatų žaidimas šiandien tapęs mūsų valstybės savarankišku olimpiniu sporto judėjimu, aukščiausio lygio varžybų laimėjimais pasaulyje pelnęs tarptautinį pripažinimą ir tarnaujantis visuomenei kaip įtaigus bei raiškus pažangiausiųjų informacinių technologijų nešėjas.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"custom-tekstas-1","fontSize":"bs-r"} -->
<p class="has-custom-tekstas-1-color has-text-color has-bs-r-font-size">Nepriklausomos Lietuvos Respublikos šachmatų sąjunga buvo įkurta 1929 metais. Po Lietuvos Nepriklausomybės atkūrimo 1990 m., atstačiusi savo narystę Tarptautinėje šachmatų Federacijoje (FIDE), Lietuvos šachmatų Federacija (LŠF) yra tos sąjungos sportinių tradicijų ir jos tarptautinių įsipareigojimų tęsėja.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"custom-tekstas-1","fontSize":"bs-r"} -->
<p class="has-custom-tekstas-1-color has-text-color has-bs-r-font-size">Lietuvai tapus Europos Sąjungos nare, Lietuvos šachmatų federacija taip pat remiasi ES Konstitucija ir jos apibrėžtomis Žmogaus teisių nuostatomis.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:boldblocks/grid-item -->

<!-- wp:boldblocks/grid-item -->
<div class="wp-block-boldblocks-grid-item wp-block-boldblocks-custom is-grid-item has-parent" id="RightSide"><!-- wp:block {"ref":499} /--></div>
<!-- /wp:boldblocks/grid-item --></div>
<!-- /wp:boldblocks/grid-item-repeater --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->